// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
<<<<<<< HEAD

body, html{
    height: 100%;
    width: 100%;
}

.myHeader {
    background-image: url('/images/imgAccueil.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
=======
>>>>>>> d9589fc9935f4132835da8c87e564c57c28df857
